In [61]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

url='https://en.wikipedia.org/wiki/2025%E2%80%9326_Premier_League'

headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64)"
}

page=requests.get(url,headers=headers)

soup=BeautifulSoup(page.text,'lxml')

table=soup.find_all('table',class_='wikitable')[3]



head=table.find_all('th',scope='col')

head_table=[title.text for title in head]
columns=[head.strip() for head in head_table]


df=pd.DataFrame(columns=columns)
df

Empty DataFrame
Columns: [Pos, Team, Pld, W, D, L, GF, GA, GD, Pts, Qualification or relegation]
Index: []

In [63]:
rows=table.find_all('tr')

for row in rows[1:]:
    row_header=row.find('th',scope='row')
    team=row_header.text.strip() if row_header else ""

    cells=[td.text.strip() for td in row.find_all('td')]

    row_data=[team]+cells

    if len(row_data)<len(columns):
        row_data+=['']*(len(columns)-len(row_data))

    df.loc[len(df)]=row_data


df.head()

,Pos,Team,Pld,W,D,L,GF,GA,GD,Pts,Qualification or relegation
0,Arsenal,1,16,11,3,2,30,10,+20,36,Qualification for the Champions League league ...
1,Manchester City,2,16,11,1,4,38,16,+22,34,
2,Aston Villa,3,16,10,3,3,25,17,+8,33,
3,Chelsea,4,16,8,4,4,27,15,+12,28,
4,Crystal Palace,5,16,7,5,4,20,15,+5,26,Qualification for the Europa League league pha...